/* style page add category */
body{
    overflow-x: hidden;
    font-family: Limelight;
}
#container-archive{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 214, 214, 0.562);
}
#container-add{
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    margin: 1%;
}
h1{
    font-size: 23px;
}
#container-addCat{
    margin: 0% 2% 2% 2%;
    width: 25%;
}
#container-addObject{
    border-left: 1px solid black;
    width: 75%;
}
#addObject{
    position: relative;
    left: 20%;
    top: 5%;
}
#btn-addObject{
    padding: 0.5%;
    width: 20%;
    height: 40%;
    margin-left: 20%;
    border-radius: 10px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
#btn-addObject:hover{
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
}
#p1{
    font-size: 20px;
}
.inputData{
    width: 60%;
    border: none;
    border-bottom:2px solid #8AE3E8;
    margin-right: 2%;
}
.inputAdd{
    padding: 0.5%;
    border: none;
    border-radius: 10px;
    width: 25%;
    height: 20px;
    margin-left: 3%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.inputAdd:hover{
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
}
#container-dataExist{
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    height: 160px;
    border-radius: 10px;
}
#cat-data{
    width: 19%;
    text-align: center;
}
#objects-data{
    width: 81%;
    border-left: 1px solid black;
    padding: 1%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.single-object{
    display: inline-block;
    width: 170px;
    height: 130px;
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
    margin: 0 0.5% 1% 0.5%;
    overflow: auto;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.single-object:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}
.btn-linkCat{
    padding: 0.5%;
    width: 60%;
    height: 15%;
    border-radius: 10px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.btn-linkCat:hover{
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}
.btn-Cat{
    margin: 3% 0% 0% 0%;
    padding: 0.5%;
    width: 60%;
    height: 15%;
    border-radius: 10px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.btn-Cat:hover{
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}
.delete{
    background-color: #be333a;
    color: white;
}
.modify{
    background-color: #8AE3E8;
    color: white;
}
p.nameObject{
    margin: 3% 0% 3% 0%;
}
p.tagsObject{
    text-align: left;
    font-size: 13px;
    margin: 3% 5% 0% 3%;
}
p.descriptionObject{
    display: none;
    text-align: left;
    font-size: 13px;
    margin: 3% 5% 0% 3%;
}
p.advancementObject{
    text-align: left;
    font-size: 13px;
    margin: 3% 5% 0% 3%;
}
.linkObject{
    color: black;
    text-decoration: none;
}