.container{
    width: 60%;
    height: 60%;
}

.container h1{
    text-align: center;
    font-size: 150%;
}

.inputData[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #8AE3E8;
    border-radius: 4px;
    box-sizing: border-box;
}

.container textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #8AE3E8;
    border-radius: 4px;
    box-sizing: border-box;
}

.registerbtn{
    background-color: #8AE3E8;
    width: 30%;
    height: 50%;
    padding: 2%;
    margin-top: 7%;
    margin-left: 35%;
    border-radius: 6px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    font-family: Limelight;
}

.registerbtn:hover{
    background-color: #69acaf;
    color: white;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}

.btnclose{
    float: right;
    height: 40px;
    width: 40px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.btnclose:hover{
    color: #be333a;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}
.btn-modObject{
    border: none;
    padding: 3%;
    margin-right: 10%;
    width: 40%;
    border-radius: 10px;
    background: #8AE3E8;
    color: white ;
}
.btn-deleteObject{
    border: none;
    padding: 3%;
    width: 40%;
    border-radius: 10px;
    background: #be333a;
    color: white;
}
.btn-annul{
    border: none;
    padding: 3%;
    width: 40%;
    border-radius: 10px;
    margin-left: 7%;
}
#btn-reset{
    width: 50%;
    margin-top: 2%;
}
#btn-Action{
    width: 50%;
    margin-top: 2%;
    padding-left: 10%;
}
#btn-object{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.annim{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.annim:hover{
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}