/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .linkObject{
    color: black;
    text-decoration: none;
}
.displayLabel-input{
  margin-left: 18.8%;
  width: 60%;
}
.label-input{
  margin-top: 0.5%;
}
.inputData-modal{
  width: 10%;
  border: none;
  border-bottom:2px solid #8AE3E8;
  margin: 0% 0% 0% 1%;
}
.messagesAdvancement{
    display: flex;
    flex-direction: column;
}
.msg-adv{
    position: relative;
    width: 40%;
    border: 2px solid #8AE3E8;
    border-radius: 10px;
    margin-top: 3px;
    padding: 0.5% 0% 0.5% 0%;
    left: 30%;
}
#label-msgAvancement{
  margin: 0.5% 0% 0.5% 0%;
}
.btn-modObject{
  padding: 0.5%;
  width: 10%;
  height: 15%;
  border-radius: 10px;
  border: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.btn-modObject:hover{
  background-color: #8AE3E8;
  color: #fefefe;
  -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}
.name{
  margin-right: 20.5%;
}