/* style page display object */
/* style search bar, tag & sort object */
.container-obj{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
}
.search-obj{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 50px;
    width: 70%;
    left: 15%;
}
#side-left{
    width: 33%;
    text-align: center;
}
#side-right{
    width: 60%;
}
h2{
    margin-left: 50%;
    margin-top: 10%;
}
.input{
    margin: 5% 4% 5% 1%;
    height: 20px;
    border: none;
    border-bottom: 2px solid#8AE3E8;
    width: 60%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.input:hover{
    background-color: rgb(236, 236, 236);
}

#sort{
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
#sort:hover{
    color: #8AE3E8;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}
.btn{
    height: 25px;
    margin: 5% 1% 5% 1%;
}
#create-cat{
    background-color: rgb(255, 255, 255);
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
#create-cat{
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}
/* end style search bar, tag & sort object */

/* style container elements */
#object{
    background-color: rgba(139, 137, 137, 0.219);
    border-radius: 10px;
    margin: 2% 2% 0% 2%;
    padding: 1%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.element-cat{
    background-color: white;
    width: 23%;
    height: 150px;
    text-align: center;
    margin: 1%;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.element-cat:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}
.hidden {display: none !important;}

.nameObject{
    text-align: center;
}
.tagsObject{
    margin: 1% 5% 0% 5%;
    text-align: justify;
    font-size: 13px;
}
.descriptionObject{
    color: white;
    text-align: justify;
    font-size: 13px;
    margin: 1% 5% 0% 5%;
}
.advancementObject{
    font-size: 13px;
    text-align: justify;
    margin: 1% 5% 0% 5%;
}

.clos{
    height: 25px;
    margin: 5% 1% 5% 1%;
}

#btnn { 
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    float: left;
    margin-top: 10%;
    margin-left: 10%;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

#btnn:hover {
    color: #8AE3E8;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
}
.element-displayRow{
    background: #ffffff;
    margin: 1% 0% 1% 2%;
    border-radius: 10px;
    width: 100%;
}
.element-displayRow >.nameObject{
    text-align: left;
    margin: 1% 3% 0% 3%;
}
.element-displayRow >.descriptionObject{
    text-align: justify;
    color: black;
}
.element-displayRow > .linkCreateObject{
   position: relative;
   left: 40%;
}
.element-displayRow > a.linkCreateObject >.fa{
    height: 50px;
}
.element-displayRow > a.linkCreateObject{
    margin-top: 40%;
}
.linkObject{
    text-decoration: none;
    color: black;
}
/* end style container elements */